/* Nav bar */

.navbar {
    padding: 2% 4%;
}

.navbar-brand {
    font-family: 'NTR', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.nav-link {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

/* Title */

.home-page {
    padding: 3% 4%;
}

.title {
    font-family: 'Heebo', sans-serif;
    font-size: 60px;
    font-weight: 300;
}

.main-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

/* Offer Page */

#offer-page {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    padding: 2% 5%;
}

.offers {
    padding: 6% 0;
    width: 30%;
}

.offer-title {
    font-size: 50px;
    font-weight: 400;
    color: #2A4F96;
}

.offer-paragraph-title {
    font-size: 22px;
    font-weight: bold;   
}

.offer-paragraph {
}

.offer-icon {
    padding-bottom: 10%;
}